
 hr {
    border: none;
    border-top: 1px solid #000000;
    margin: 20px 0; /* Adjust margin as needed */
  }

h1,
p {
	font-family: 'Hind', sans-serif;
}

p{
	text-indent: 50px;
}

h1 {
	font-weight: 200;
}

body {
	margin: 0px;
}

.container {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.heart {
	position: absolute;
	left: 50%;
	top: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	transiton: transform 2s;
	z-index: 1;
}

.heart > img {
	width: 50px;
	height: auto;
}

.message {
	padding: 20px;
	background-color: #eee;
	min-width: 400px;
	height: 75%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;
	overflow: hidden;
	animation-name: openmsg;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-play-state: paused;
	animation-fill-mode: forwards;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	border-radius: 5px;
}

.heart > img:hover {
	animation-name: beat;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

#messageState {}

@keyframes beat {
	0% {
		width: 50px;
	}
	25% {
		width: 58px;
	}
	30% {
		width: 50px;
	}
	50% {
		width: 45px;
	}
	60% {
		width: 50px;
	}
	75% {
		width: 58px;
	}
	100% {
		width: 50px;
	}
}

@keyframes openmsg {
	0% {
		height: 0px;
		padding: 0px 20px;
	}
	100% {
		height: 75%;
		padding: 20px 20px;
	}
}

@keyframes heartMove {
	0% {
		top: 50%
	}
	100% {
		top: 85%;
		transform: translate(-50%, 0);
	}
}

.openNor {
    animation-direction: normal;
    animation-play-state: running;
}

.closeNor {
    animation-direction: reverse;
    animation-play-state: running;
}

.no-anim {
    animation: none;
}

.closed {
    height: 0px;
    padding: 0px 20px;
}

.bottom {
    bottom: 5px;
}

.openHer {
    animation-name: heartMove;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

.closeHer {
    animation-name: heartMove;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-play-state: running;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

.beating > img {
    animation-name: beat;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.openedHer {
    top: 85%;
    transform: translate(-50%, 0);
}

/* Adjusting the carousel to fit within content */
.pic-ctn {
    position: relative;
    width: 100%;
    height: 60vh; /* Adjust as needed for the height */
    overflow: hidden;
    margin-top: 15vh; /* Adjust as needed to position within the content */
}

.pic-ctn > img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: display 10s infinite;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@keyframes display {
    0% {
        transform: translate(-50%, -50%) translateX(200px);
        opacity: 0;
    }
    10% {
        transform: translate(-50%, -50%) translateX(0);
        opacity: 1;
    }
    20% {
        transform: translate(-50%, -50%) translateX(0);
        opacity: 1;
    }
    30% {
        transform: translate(-50%, -50%) translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) translateX(-200px);
        opacity: 0;
    }
}

.pic-ctn img:nth-child(2) {
    animation-delay: 2s;
}
.pic-ctn img:nth-child(3) {
    animation-delay: 4s;
}
.pic-ctn img:nth-child(4) {
    animation-delay: 6s;
}
.pic-ctn img:nth-child(5) {
    animation-delay: 8s;
}
.pic-ctn img:nth-child(6) {
    animation-delay: 10s;
}
.pic-ctn img:nth-child(7) {
    animation-delay: 12s;
}